$link-color: #34aeeb;
$sidebar-color: $white;

.main-content summary {
    line-height: 2.4;
    color: #34aeeb;
    font-weight: bold;
}

div.api-url-box {
    background-color: #e4e4e4;
    padding: 5px;
    width: 60%;
    margin-bottom: 10px;
    span {
      color:#a0a0a0;
    }
}
