$link-color: #34aeeb;
$sidebar-color: $white;

.main-content summary {
    line-height: 2.4;
    color: #34aeeb;
    font-weight: bold;
}

div.api-url-box {
    background-color: #e4e4e4;
    padding: 5px;
    width: 60%;
    margin-bottom: 10px;
    span {
      color:#a0a0a0;
    }
}

div.request-vars {
  span.request-var-name {
    font-weight:bold;
    font-size:18px;
  }
  span.request-var-type, span.request-var-optional {
    color:#a0a0a0;
    font-size:12px;
  }
  span.request-var-required {
    color:red;
    font-size:12px;
  }
}

div.request-vars-description{
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #a0a0a0;
}
